{{#with:params}}
    {{#with:data}}
        {{#ifnot:(typeof $data)==='string'}}
            {{#if:nodeType==1}}
                {{#component: {name:$parent.display, params:$data}/}}
                {{#foreach:attributes}}
                    {{#component: {name:$parents[1].display, params:$data}/}}
                {{/foreach}}&gt;
            {{/if}}
            {{#if:nodeType==3}}
                {{#component: {name:$parent.display, params:$data}/}}
            {{/if}}
            <ul>
                {{#foreach:childNodes}}
                    <li>
                        {{#addXpath:$data}}
                            {{#component:{name:'xml', params:{data:$data, display:$parents[1].display}}/}}
                        {{/addXpath}}
                    </li>
                {{/foreach}}
            </ul>
            {{#if:nodeType==1}}
                &lt;/<span class="xml-element-name">{{nodeName}}</span>&gt;
            {{/if}}
        {{/ifnot}}
    {{/with}}
{{/with}}