{{#with:params}}
    {{#with:data}}
        {{#if:(typeof $data)==='string'}}
            {{$data}}
        {{/if}}
        {{#ifnot:(typeof $data)==='string'}}
            {{#toggler}}
                {{#if:nodeType==1}}
                    {{#ifnot:childNodes.length==1 && childNodes[0].nodeType==3}}
                        <span class="clickable" click="{{$toggle}}">
                            {{#if:$toggled}}-{{/if}}
                            {{#ifnot:$toggled}}+{{/ifnot}}
                        </span>
                    {{/ifnot}}
                    {{#component: {name:$parent.display, params:$data}/}}
                    {{#foreach:attributes}}
                        {{#component: {name:$parents[1].display, params:$data}/}}
                    {{/foreach}}&gt;
                {{/if}}
                {{#if:nodeType==3}}
                    {{#component: {name:$parent.display, params:$data}/}}
                {{/if}}
                {{#if:nodeType==2}}
                    <span class='xml-attribute-value'>{{nodeValue}}</span>
                    
                {{/if}}
                {{#if:nodeType!=2 && childNodes.length==1 && childNodes[0].nodeType==3}}
                    {{#with:childNodes[0]}}
                        {{#addXpath:$data}}
                            {{#component: {name:$parents[1].display, params:$data}/}}
                        {{/addXpath}}
                    {{/with}}
                {{/if}}
                {{#if:$toggled}}
                    {{#if:nodeType!=2}}
                        {{#ifnot: childNodes.length==1 && childNodes[0].nodeType==3}}
                            <ul>
                                {{#foreach:childNodes}}
                                    <li>
                                        {{#addXpath:$data}}
                                            {{#component:{name:'xml', params:{data:$data, display:$parents[1].display}}/}}
                                        {{/addXpath}}
                                    </li>
                                {{/foreach}}
                            </ul>
                        {{/ifnot}}
                    {{/if}}
                    {{#if:nodeType==1}}
                        &lt;/<span class="xml-element-name">{{nodeName}}</span>&gt;
                    {{/if}}
                {{/if}}
            {{/toggler}}
        {{/ifnot}}
    {{/with}}
{{/with}}