{{#with:params}}
    <div data-bind="css:{'xml-selected': matches.indexOf(data)>=0 }">
    {{#with:data}}
        {{#if:(typeof $data)==='string'}}
            <span class="xml-plain-text">{{$data}}</span>
        {{/if}}
        {{#ifnot:(typeof $data)==='string'}}
            {{#toggler}}
                {{#if:nodeType==1}}
                    {{#ifnot:childNodes.length==0 || (childNodes.length==1 && childNodes[0].nodeType==3)}}
                        <span class="clickable" click="{{$toggle}}">
                            {{#if:$toggled}}-{{/if}}
                            {{#ifnot:$toggled}}+{{/ifnot}}
                        </span>
                    {{/ifnot}}
                    {{#component: {name:$parent.display, params:{node:$data, matches:$parent.matches}}/}}
                    {{#foreach:attributes}}
                        {{#component: {name:$parents[1].display, params:{node:$data, matches:$parents[1].matches}}/}}
                    {{/foreach}}{{#ifnot:childNodes.length}}/{{/ifnot}}&gt;
                {{/if}}
                {{#if:nodeType==3}}
                    {{#component: {name:$parent.display, params:{node:$data, matches:$parent.matches}}/}}
                {{/if}}
                {{#if:nodeType==2}}
                    <span class='xml-attribute-value'>{{nodeValue}}</span>
                {{/if}}
                {{#if:nodeType!=2 && childNodes.length==1 && childNodes[0].nodeType==3}}
                    {{#with:childNodes[0]}}
                        {{#addXpath:$data}}
                            {{#component: {name:$parents[1].display, params:{node:$data, matches:$parents[1].matches}}/}}
                        {{/addXpath}}
                    {{/with}}
                {{/if}}
                {{#if:$toggled}}
                    {{#if:nodeType!=2}}
                        {{#ifnot: childNodes.length==1 && childNodes[0].nodeType==3}}
                            <ul>
                                {{#foreach:childNodes}}
                                    <li>
                                        {{#addXpath:$data}}
                                            {{#component:{name:$parents[1].self, params:{self:$parents[1].self, data:$data, display:$parents[1].display, matches:$parents[1].matches}}/}}
                                        {{/addXpath}}
                                    </li>
                                {{/foreach}}
                            </ul>
                        {{/ifnot}}
                    {{/if}}
                    {{#if:nodeType==1  && childNodes.length}}
                        &lt;/<span class="xml-element-name">{{nodeName}}</span>&gt;
                    {{/if}}
                {{/if}}
            {{/toggler}}
        {{/ifnot}}
    {{/with}}
    </div>
{{/with}}